@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
}

#header {

  height: 100px;
  padding: 40px 0 0 50px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
.wrapper {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.site-title {
  width: 100px;
  line-height: 1px;
}

.hamburger {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 40, 3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer; 
  transition: .3s; 
}
.hamburger:hover{ 
  opacity: 0.7;
} 

.hamburger span {
  width: 55px;
  height: 2px;
  background: rgb(241, 235, 235);
  position: absolute;
  left: 25px;
  transition: 0.3s ease-in-out;

}
.hamburger span:nth-child(1){
  top: 35px;
}
.hamburger span:nth-child(2){
  top: 50px;
}
.hamburger span:nth-child(3){
  bottom: 35px;
}

.hamburger.active span:nth-child(1){
  top: 45px;
  left: 25px;
  transform: rotate(-45deg);
  background: #fff;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3){
  top: 45px;
  transform: rotate(45deg);
  background: #fff;
} 
/* 3本線をクリックすると表示される
   最初は閉じているじょうたいなので、opacity:0;,visibility:hidden; の設定で非表示にしておく */

#navigation {
  width: 100%;
  height: 100vh;
  background-color:rgb(247, 40, 3);
  color: #fff;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 20;
  opacity: 0;
  text-align: center;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
/* ハンバーガーメニューをクリック後JQueryで#navにactiveクラスを追加してメニューを表示させる */
#navigation.active {
  opacity: 1;
  visibility: visible;

}
#navigation .logo {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 40px;
}

#navigation .menu {
  margin: 80px 0 40px 0;
}

#navigation .menu li {
  margin-bottom: 20px;
}
#navigation .menu a {
  color: #fff;
  font-weight: bold;
}
#navigation .btn {
  width: 250px;
  border: solid 1px #fff;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
  transition: 03s ease-in-out;
}
#navigation .btn::after {
  content: "";
  width: 250px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 15px 0;
  position: absolute;
  right: -6px;
  bottom: -6px;
}  
#mainvisual {
  height: 700px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  display: block;
}

.text {
  position: absolute;
  top: 250px;
  left: 120px;
  z-index: 10;
}
.text p.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
  color: rgb(18, 17, 17);
  text-shadow: 0 3px 5px #fff;
  letter-spacing: 2px;

}
.text a.btn {
  color: #fff;
  background-color: rgb(247, 40, 3);
  border-bottom: 6px solid rgb(167, 44, 23);
  border-radius: 10px;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 15px 30px;
  transition: 0.3s;
  position: relative;
}
.text a.btn::after {
  content: "";
  width: 15px;
  height: 15px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  right: 30px;
}
.text a.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.photo li {
  position: absolute;
  width: 75%;
  top: 0%;
  right: 0;
  /* 最初は三枚の画像を非表示 */
  opacity: 0;
  animation: photo 15s infinite;
}
.photo li:nth-child(1) {
  animation-delay: 0s;
}

.photo li:nth-child(2) {
  animation-delay: 5s;
}

.photo li:nth-child(3) {
  animation-delay: 10s;
}
.photo li img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.photo li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;

}
@keyframes photo {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#reason {
  margin-bottom: 120px;
}
/* section-title(::after)共通css */
.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: rgb(57, 55, 55);
  margin-bottom: 100px;
  position: relative;
}
.section-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: rgb(57, 55, 55);
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;

}


#reason .box {
  background-color: rgb(247, 40, 3);
  padding: 80px 0;
 
} 
/* 左右スライド共通 */
#reason .slide{
  width: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  padding: 5%;
}



#reason .slide img {
  width: auto;
  height: 60px;
  margin-right: 30px;
}
#reason .slide .box-title {
  color: rgb(247, 40, 3);
  display: block;
  font-size: 26px;
  font-weight: bold;
}
#reason .slide .box-text {
  display: block;
  font-size: 16px;
}
#reason .left-box {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}
/* アニメーションを実行 */

#reason .slide-left{
  animation: slide-left 0.5s ease-out 0s 1 forwards;
}

/* アニメーション処理
−50％で左側に隠しておく
100%(0.5秒）かけて要素を表示させながら元の位置へ移動させる */
@keyframes slide-left{
  0% {
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#reason .right-box {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
/* アニメーションを実行 */

#reason .slide-right {
  animation: slide-right 0.5s ease-out 0s 1 forwards;
}
@keyframes slide-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

#voice {
  margin-bottom: 120px;
}
#voice .item-left,
#voice .item-right {
  display: flex;
  /* opacity: 0; */
  align-items: flex-start;
  margin-bottom: 60px;
}
#voice .item-left {
  justify-content: flex-start;
}
#voice .item-left:last-of-type {
  margin-bottom: 0;
}
#voice .item-right {
  justify-content: flex-end;
}
#voice .student img {
  width: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}
#voice .student .name {
  font-size: 16px;
  text-align: center;
}

/* 吹き出しを設定 */
#voice .item-left .balloon-text,
#voice .item-right .balloon-text {
  width: 60%;
  display: flex;
  justify-content: center;
  background: #e9f1fb;
  border-radius: 13px;
  padding: 20px;
  position: relative;
}
#voice .item-left .balloon-text  {
  margin-left: 25px;
}
#voice .item-right .balloon-text  {
  margin-right: 25px;
}

/* 左の吹き出し */
#voice .item-left .balloon-text::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;

}

/* アニメーションを実行 */
#voice .balloon {
  animation: balloon 0.5s ease-out 0s 1 forwards;
}
/* アニメーション処理 */
@keyframes balloon {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* アニメーションを実行 */
#overview {
  background: url(../img/bg.gif)repeat;
  animation: fall 10s infinite linear;
  margin-bottom: 120px;
  padding: 60px 0;
}
/* アニメーション処理 */
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

#overview .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#overview .menu li {
  width: 48%;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px;
  margin-bottom: 32px;
}
#overview .menu-title {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
#overview .menu-title .j {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}
#overview .menu-title .e {
  display: block;
  font-size: 16px;
  margin-bottom: 30px;
}

#try {
  text-align: center;
  margin-bottom: 120px;
}
#try .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}
#try .coupon {
  font-size: 18px;
  margin-bottom: 40px;
}
#try .btn {
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(247, 40, 30);
  padding: 15px;
  border: solid 3px rgb(247, 40, 30);
  color: #fff;
  border-radius: 40px;
  display: block;
  text-align: center;
  transition: 0.3s;
}
#try .btn:hover {
  background-color: #fff;
  border: solid 3px rgb(247, 40, 30);
  color: rgb(247, 40, 30);

}
#footer {
  background-color: rgba(204, 204, 204, 0.296);
  padding: 60px 0 20px 0;
}
#footer .footer-menu {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 60px;
}
#footer .footer-menu > li {
  width: 25%;
}

#footer a {
  font-size: 16px;
  transition: 0.3s;
}
#footer a:hover {
  opacity: 0.7;
}

#footer .footer-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#footer .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
#footer li {
  line-height:25px;
}
#footer .copyright {
  text-align: center;
}

@media screen and (max-width:767px) {
  .wrapper {
    padding: 0 15px;
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .section-title::after {
    width: 80px;
  }

  #header {
    padding: 25px 0 0 25px;
  }

  .hamburger {
    width: 75px;
    height: 75px;
  }
  .hamburger span {
    width: 35px;
    left: 21px;
  }
  .hamburger span:nth-child(1) {
    top: 26px;
  }
  .hamburger span:nth-child(2) {
    top: 37px;
  }
  .hamburger span:nth-child(3) {
    top: 48px;
  }
  .hamburger.active span:nth-child(1) {
    top: 37px;
    left: 21px;
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 37px;
  }

  #navigation .logo{
    top: 25px;
    left: 25px;
  }
  #navigation .menu {
    margin-top: 120px;
  }
  #mainvisual  {
    height: 500px;
    margin-bottom: 80px;
  }
  #mainvisual .photo li {
    width: 100%;
  }

  #mainvisual .photo li img {
    height: 300px;
  }

  #mainvisual .text {
    width: calc(100% - 32PX);
    top: 300px;
    left: 15px;
    /* line-height: 1px; */
  }
  .text p.title{
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 10PX;
  }
  .text a.btn {
    width: 100%;
  }

  #reason {
    margin-bottom: 80px;
  }
  .section-title {
    font-size: 28px;
  }
  #reason .slide{
    width: calc(100% - 15px);
  }
  @keyframes slide-right {
    0% {
      transform: translateX(150%); 
    }
    100% {
      opacity: 1;
      transform: translateX(2%); 
    }
  }
  .wrapper {
    padding: 0 16px;

  }
  #voice {
    margin-bottom: 80px;
  }
  #voice .student {
    text-align: center;
  }
  #voice .item-left,
  #voice .item-right {
    margin-bottom: 40px;
  }
  #voice .item-left {
    flex-direction: column-reverse;
    align-items: center;
  }
  #voice .item-right {
    flex-direction: column;
    align-items: center;

  }
  #voice .item-left .balloon-text,
  #voice .item-right .balloon-text {
    width: 100%;
    margin: 0 0 30px 0;
  }
  /* spの時は吹き出しを下に変える */
  #voice .item-left .balloon-text::before,
  #voice .item-right .balloon-text::before {
    top: 100%;
    border: 15px solid transparent;
    border-top: 15px solid  #e9f1fb;
  }
  #voice .item-left .balloon-text::before {
    margin-left: calc(50% - 15px);
  }
  #voice .item-right .balloon-text::before {
    margin-right: calc(50% - 15px);
  }
  #overview {
    margin-bottom: 80px;
  }

  #overview .menu{
    flex-direction: column;
  }
  #overview .menu li {
    width: 100%;
    padding: 40px;
  }
  #overview .menu-title .j {
    font-size: 24px;
  }
  
  #try .title{
    font-size: 24px;
  }
  #try .coupon {
    font-size: 15px;
  }
  #try {
    margin-bottom: 80px;
  }
  #footer {
    padding-left: 40px;
  }
  #footer .footer-menu {
    flex-wrap: wrap;

  }
  #footer .footer-menu .title {
    font-size: 15px;
  }
  #footer .footer-menu > li {
    width: 50%;
  }
  #footer .footer-menu > li:nth-child(1),
  #footer .footer-menu > li:nth-child(2) {
    margin-bottom: 30px;
  }

}









